<div id="download-wrapper">
  <div id="download-view-container">
    <p class="text-dec" id="download-item">Your songs are ready to be emailed to you.</p>
    <input class="text-dec" type="email" id="email" ng-model="email.email" placeholder="Email Address" />
    <input class="text-dec" type="email" id="confirm-email" ng-model="email.confirm" placeholder="Confirm Email Address" />
    <button ng-click="emailConsumer(email)" class="text-dec" id="email-btn">Email</button>

    <!-- ADD STATUS MESSAGES FOR USER EXPERIENCE -->
  </div>
</div>
