html {
  /*background-image: url('./../img/home-background.jpg') !important;
  background-position: center;
  background-size: cover;*/
}

.header-title {
  font-family: "Lobster", sans-serif;
}

.text-dec {
  font-family: "Raleway", sans-serif;
}

.input-container {
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  font-size: 20px;
  margin-top: 30px;
}

.input-container:focus {
  outline: none;
}

.ng-dialog-btn {
  width: 100px;
  height: 30px;
  background: #FD8401;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  color: white;
  margin-top: 30px;
}

.ng-dialog-btn:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.orange-header {
  font-size: 20px;
  color: #FD8401;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.project-detailed-desktop-text {
  margin-top: 5px;
  margin-left: 10px;
}
