.header-title {
  font-family: "Lobster", sans-serif;
}

.text-dec {
  font-family: "Raleway", sans-serif;
}

.input-container {
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  font-size: 20px;
  margin-top: 30px;
}

.input-container:focus {
  outline: none;
}

.ng-dialog-btn {
  width: 100px;
  height: 30px;
  background: #FD8401;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  color: white;
  margin-top: 30px;
}

.ng-dialog-btn:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.orange-header {
  font-size: 20px;
  color: #FD8401;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.project-detailed-desktop-text {
  margin-top: 5px;
  margin-left: 10px;
}

.fade {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.fade.ng-enter {
    opacity: 0 !important;
    transition-duration: 880ms;
    -webkit-transition-duration: 880ms;
}

.fade.ng-enter-active {
    opacity: 1 !important;
}

.fade.ng-leave {
    opacity: 1 !important;
    transition-duration: 880ms;
    -webkit-transition-duration: 880ms;
}

.fade.ng-leave-active {
    opacity: 0 !important;
}

/*.toggle.ng-hide-add {
    -webkit-transition-duration: 5s;
    opacity: 1;
}

.toggle.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}

.toggle.ng-hide-remove {
    -webkit-transition-duration: 5s;
    display: block !important;
    opacity: 0;
}

.toggle.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}
