#pokemonWrapper {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
}

.secondary-wrapper {
  width: 80vw;
  height: 20vh;
  background: #01BAEF;
  border: 1px solid #FDFFFC;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pokeImg {
  width: 90px;
  height: 90px;
}

#poke-title {
  margin-top: 10px;
}

#img-container {
  width: 80%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}
