.container {
	display: inline-block;
	background-color: green;
	height: 100px;
}

.container button {
	display: inline-block;
}

.newContainer {
	background-color: green;
	height: 100px;
	width: 300px;
}

.container button {
	display: inline-block;
}

#header {
	display: block;
	border: 2px solid white;
	display: block;
	background-color: green;
}

#header h1 {
	text-align: center;
}

#main-container {
	display: block;
	text-align: center;
}