<section id="main-wrapper"  home-animations>

  <div id="welcome-box" class="container-style">
    <h1 id="welcome-text"></h1>
  </div>

  <div id="home-text-container" class="container-style">
    <div id="inner-container">
      <p id="home-text1"></p>

      <div id="starter-container">
        <img id="p1"class="starterImg" src="http://pokeapi.co/media/sprites/pokemon/1.png" />
        <img id="p2" class="starterImg" src="http://pokeapi.co/media/sprites/pokemon/4.png" />
        <img id="p3" class="starterImg" src="http://pokeapi.co/media/sprites/pokemon/7.png" />
      </div>
    </div>
  </div>

</section>
