.song-container-wrapper {
  width: 100%;
  height: 95px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.song-container {
  margin-bottom: 10px;
  width: 90%;
  height: 100%;
  display: flex;
}

.song-container:hover {
  border-right: 2px solid #BDD4E7;
  cursor: pointer;
}

.song-img-container {
  width: 35%;
  height: 100%;
}

  .cover-img:hover {
    opacity: 0.5;
    border: 1px solid white;
  }

.information-container {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

  .song-text {
    margin-bottom: 10px;
  }

  .album-text {
    margin-bottom: 10px;
  }

/*.add-to-cart-container {
  width: 25%;
  height: 100%;
}*/
