@import '../utilities.scss';

.global-header {
  background: #fff;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
}

.global-header-logo {
  position: relative;
  font-weight: 400;
  color: #d36028;
  width: 190px;
  display: block;
  top: -2px;
  padding: 0 1.25rem;
}

.global-header-mobile-menu {
  position: absolute;
  padding-left: 1.25em;
  right: 0px;
  height: 34px;
  line-height: 33px;
  padding: 0 2.8125rem 0 1.25rem;
  color: #FFF;
  top: 24px;

  &:before {
    content: "";
    position: absolute;
    display: block;
    height: 0;
    top: 50%;
    margin-top: -8px;
    right: 1.25rem;
    box-shadow: 0 0 0 1px #d36028,0 7px 0 1px #d36028,0 14px 0 1px #d36028;
    width: 16px;
  }
}

.global-header-contact-container {
  height: 58px;
  width: 200px;
  background-color: #939699;
  color: #FFF;
  position: fixed;
  top: 80px;
  right: 0px;
}

.global-header-contact-info-container {
  width: 140.22px;
  height: 100%;
  font-size: 1rem;
  font-family: $convirsaFontFamily;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}
